<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Airline Manager</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'flightmanager/index.css' %}" />
        <script src="{% static 'flightmanager/index.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>


    <div class="jumbotron text-center">


        <h1>Flight Manager</h1>

        {% if is_user_authenticated %}
            <button type="button" id="logout-button" onclick="location.href='{% url 'flightmanager:logout' %}'"
              class="btn btn-primary ">Logout</button>
        {% else %}
            <button type="button" id="login-button" onclick="location.href='{% url 'flightmanager:login_form' %}'"
              class="btn btn-primary ">Login</button>
        {% endif %}

        <button id="manage-crews-button" type="button" onclick="location.href='/static/crewmanager/index.html'"
              class="btn btn-primary ">Manage Crews & Flight assignments</button>

    </div>

    <div class="container">

        <div id="search-area">
            <h3>Search For Flights:</h3>

            <div class="row">
                <div class="col-sm-6">
                    <h5>Departure Date from:</h5>

                    {% if date_from %}
                        <input name="date_from" id="date_from" type="date" value="{{ date_from.pop }}">
                    {% else %}
                        <input name="date_from" id="date_from" type="date">
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    <h5>Departure Date to:</h5>

                    {% if date_to %}
                        <input name="date_to" id="date_to" type="date" value="{{ date_to.pop }}">
                    {% else %}
                        <input name="date_to" id="date_to" type="date">
                    {% endif %}

                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <button type="button" id="search-button"
                            onclick="onSearchClick()"  class="btn btn-outline-primary">Search</button>
                </div>
            </div>
        </div>



        {% for flight in flights %}
        <div class="flight-box" >
            <div class="row">
              <div class="col-sm-6">
                <h3>Flight: {{ flight.id }}</h3>
              </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p>From: {{ flight.departure_airport }}</p>
                    <p>Start Date: {{ flight.departure_date }}</p>
                </div>
                <div class="col-sm-6">
                    <p>To: {{ flight.arrival_airport }}</p>
                    <p>Land Date: {{ flight.arrival_date }}</p>
                </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <button type="button" id="details-{{ flight.id }}" onclick="location.href='{% url 'flightmanager:flight_details' flight.id %}' "
                        class="btn btn-outline-info">Details</button>
              </div>
            </div>
        </div>
        {% endfor %}



    </div>

    </body>
</html>