<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'flightmanager/login.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Login to Flight Manager</h1>

</div>

<div class="container">

    {% if incorrect_login %}
        <h3 id="incorrect_login" >Username or password is incorrect</h3>
    {% endif %}

    {% if next %}
        <form id="login" action="{% url 'flightmanager:login' %}?next={{ next.pop }}" method="post">
    {% else %}
        <form id="login" action="{% url 'flightmanager:login' %}" method="post">
    {% endif %}
        {% csrf_token %}

        <div class="row">

            <div class="col-sm-6">
                <label for="username">Username:</label>
            </div>

            <div class="col-sm-6">
                <input name="username" required="" id="username" type="text">
            </div>

            <div class="col-sm-6">
                <label for="password">Password:</label>
            </div>

            <div class="col-sm-6">
                <input name="password" required="" id="password" type="password">
            </div>

            <div class="col-sm-12">
                <input id="login-button" type="submit" value="Login" />
            </div>
        </div>

    </form>

</div>

</body>
</html>